{% extends 'base.html.twig' %}

{% block title %}Szczegóły klienta{% endblock %}

{% block body %}
    <h1>Szczegóły klienta</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ customer.id }}</td>
        </tr>
        <tr>
            <th>Imię</th>
            <td>{{ customer.imie }}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{ customer.email }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_list') }}" class="btn btn-secondary">Powrót do listy</a>
    <a href="{{ path('customer_edit', {'id': customer.id}) }}" class="btn btn-primary">Edytuj</a>
{% endblock %}